<div class="card card-round card-shadowed px-50 py-30 w-400px mb-0" style="max-width: 100%">
    <h5 class="text-uppercase">Sign in</h5>
    <br>

    <form id="login-form" data-toggle="validator" role="form" class="form-type-material" action="/auth/login" method="POST">
        <input type="hidden" id="_csrf" name="_csrf" value="{{_csrf}}">
        <div class="form-group">
        <input type="email" class="form-control" id="email" name="email" data-error="Invalid Email Address" required>
        <label for="email">Email address</label>
        <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" required>
            <label for="password">Password</label>
            <div class="help-block with-errors"></div>
        </div>

        <div class="form-group flexbox">
            <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" checked name="remember-me" value="true">
            <label class="custom-control-label">Remember me</label>
            </div>

            <a class="text-muted hover-primary fs-13" href="/resetpassword">Forgot password?</a>
        </div>

        <div class="form-group">
            <button class="btn btn-bold btn-block btn-primary" type="submit">Login</button>
        </div>

        {{#if loginErrors}}
            {{#each loginErrors}}
                <div class="with-errors">{{this}}</div>
            {{/each}}
        {{/if}}

    </form>

    <div class="divider">Or Sign In With</div>
    <div class="text-center">
    <a class="btn btn-label btn-google" href="/auth/google/login"><label><i class="fa fa-google fa-lg"></i></label> Google</a>
    <a class="btn btn-label btn-dark" href="/auth/github/login"><label><i class="fa fa-github fa-lg"></i></label> GitHub</a>
    </div>

    <hr class="w-30px">

    <p class="text-center text-muted fs-13 mt-20">Don't have an account? <a class="text-primary fw-500" href="/register">Sign up</a></p>
</div>