<div class="card card-round card-shadowed px-50 py-30 w-400px mb-0" style="max-width: 100%;">
    <h5 class="text-uppercase">Sign up</h5>
    <br>

    <form id="registration-form" data-toggle="validator" role="form" class="form-type-material" action="/auth/register" method="POST">
        <input type="hidden" id="_csrf" name="_csrf" value="{{_csrf}}">

        <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" data-error="Invalid Email Address" required>
            <label for="email">Email address</label>
            <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="password" data-minlength="8" name="password" required>
            <label for="password">Password</label>
            <div class="help-block">Minimum of 8 characters</div>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="password-conf" name="password-conf" data-match="#password" data-match-error="Passwords do NOT match" required>
            <label for="password-conf">Password (confirm)</label>
            <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
            <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="i-agree" id="i-agree" checked required>
            <label class="custom-control-label">I agree to all <a class="text-primary" href="/terms">Terms and Conditions</a></label>
            </div>
        </div>

        <br>

        <div class="form-group">
            <button class="btn btn-bold btn-block btn-primary" type="submit">Register</button>
        </div>

        {{#if registerErrors}}
            {{#each registerErrors}}
                <div class="with-errors">{{this}}</div>
            {{/each}}
        {{/if}}
    </form>

    <hr class="w-30px">

    <p class="text-center text-muted fs-13 mt-20">Already have an account? <a class="text-primary fw-500" href="/login">Sign in</a></p>
</div>