<div class="card card-round card-shadowed px-50 py-30 w-400px mb-0" style="max-width: 100%">
    <h5 class="text-uppercase">Recover password</h5>
    <br>

    <form class="form-type-material">
    <div class="form-group">
        <input type="text" class="form-control" id="email">
        <label for="email">Email address</label>
    </div>

    <br>
    <button class="btn btn-bold btn-block btn-primary" type="submit">Reset</button>
    </form>
</div>