<footer class="site-footer">
<div class="row">
    <div class="col-md-6">
    <p class="text-center text-md-left">Copyright © 2019 <a href="https://collabr.ai">Collabr.ai</a>. All rights reserved.</p>
    </div>

    <div class="col-md-6">
    <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
        <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://collabr.ai/help/documentation">Documentation</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://collabr.ai/help/faq">FAQ</a>
        </li>
    </ul>
    </div>
</div>
</footer>