{{#if show_header}}
    <header class="header bg-ui-general mb-0">
        <div class="header-info mt-25 mb-0">
            <h1 class="header-title">
                <strong>{{header_strong}}</strong>{{header_normal}}
                {{#if header_subtitle}}
                    <small>{{header_subtitle}}</small>
                {{/if}}
            </h1>
        </div>
    </header>
{{/if}}