<!-- Sidebar -->
<aside class="sidebar sidebar-expand-lg sidebar-icons-boxed">
    <header class="sidebar-header">
    <a class="logo-icon" href="/"><img src="/assets/img/icon/collabr-ai.png" alt="logo icon"></a>
    </header>

    <nav class="sidebar-navigation">

        <ul class="menu">

            <li class="menu-item {{#ifcond page '===' 'home'}}active{{/ifcond}}">
                <a class="menu-link" href="/">
                    <span class="icon ti-home"></span>
                    <span class="title">Home</span>
                </a>
            </li>

            <li class="menu-category">Manage</li>

            <li class="menu-item {{#ifcond page '===' 'minds'}}active{{/ifcond}}">
                <a class="menu-link" href="/minds">
                    <span class="icon fa fa-server"></span>
                    <span class="title">Minds</span>
                </a>
            </li>

            {{!--
            <li class="menu-item {{#ifcond page '===' 'metrics'}}active{{/ifcond}}">
                <a class="menu-link" href="/metrics">
                    <span class="icon fa fa-bar-chart-o"></span>
                    <span class="title">Metrics</span>
                </a>
            </li>
            --}}

            {{!--
            <li class="menu-item {{#ifcond page '===' 'testing'}}active{{/ifcond}}">
                <a class="menu-link" href="/testing">
                    <span class="icon fa fa-bar-chart-o"></span>
                    <span class="title">Testing</span>
                    <span class="badge badge-pill badge-info">2</span>
                </a>
            </li>

            <li class="menu-item {{#ifcond page '===' 'events'}}active{{/ifcond}}">
                <a class="menu-link" href="/events">
                    <span class="icon fa fa-bolt"></span>
                    <span class="title">Events</span>
                    <span class="badge badge-pill badge-info">2</span>
                </a>
            </li>
            --}}

            <li class="menu-category">User</li>

            <li class="menu-item {{#ifcond page '===' 'profile'}}active{{/ifcond}}">
                <a class="menu-link" href="/profile">
                    <span class="icon fa fa-user"></span>
                    <span class="title">Profile</span>
                </a>
            </li>

            <li class="menu-item {{#ifcond page '===' 'billing'}}active{{/ifcond}}">
                <a class="menu-link" href="/billing">
                    <span class="icon fa fa-credit-card"></span>
                    <span class="title">Billing</span>
                </a>
            </li>

            {{!--
            <li class="menu-item {{#ifcond page '===' 'setttings'}}active{{/ifcond}}">
                <a class="menu-link" href="/settings">
                    <span class="icon fa fa-sliders"></span>
                    <span class="title">Settings</span>
                </a>
            </li>
            --}}

            <li class="menu-divider"></li>

            <li class="menu-item">
                <a class="menu-link" href="#">
                    <span class="icon fa fa-question-circle"></span>
                    <span class="title">Help</span>
                    <span class="arrow"></span>
                </a>

                <ul class="menu-submenu">
                    <li class="menu-item">
                    <a class="menu-link" target="_blank" href="https://collabr.ai/help/documentation">
                        <span class="dot"></span>
                        <span class="title">Documentation</span>
                    </a>
                    </li>

                    <li class="menu-item">
                    <a class="menu-link" target="_blank" href="https://collabr.ai/help/faq">
                        <span class="dot"></span>
                        <span class="title">FAQ</span>
                    </a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>

</aside>
<!-- END Sidebar -->