<!DOCTYPE html>
<html>
    <head>
        <!-- Favicons -->
        <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png">
        <link rel="icon" href="/favicon/favicon.ico">
        <link rel="shortcut icon" type="image/png" href="/favicon/favicon-16x16.png"/>


        <title>{{title}} | Collabr.ai</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Machine Learning Model Deployment and Testing Made Easy | Collabr.ai">
        <meta name="keywords" content="Artificial Intelligence, Machine Learning, Deployment, Testing, Platform as a Service">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i|Dosis:300,500" rel="stylesheet">

        <!-- Styles -->
        <link href="/css/core.min.css" rel="stylesheet">
        <link href="/css/app.min.css" rel="stylesheet">
        <link href="/css/style.min.css" rel="stylesheet">


        <!--  Open Graph Tags -->
        <meta property="og:title" content="{{title}} | Collabr.ai Web Application">
        <meta property="og:description" content="Machine Learning Model Deployment and Testing Made Easy | Collabr.ai">
        <meta property="og:image" content="">
        <meta property="og:url" content="https://app.collabr.ai">
        <meta name="twitter:card" content="summary_large_image">
    </head>
    <body>
        {{> preloader}}

        {{> sidebar}}

        {{> topbar}}

        <!-- Main container -->
        <main class="main-container">

            {{> page_header}}

            <div class="main-content">

                {{{body}}}
            </div><!--/.main-content -->

            {{> footer}}

        </main>
        <!-- END Main container -->


        <!-- Scripts -->
        <script src="/js/core.min.js"></script>
        <script src="/js/app.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
        <script src="/js/script.min.js"></script>

    </body>
</html>