<div class="row col-12">
    <div class="row col-12">
        <div class="card card-body">

            <input type="hidden" id="mind-id" name="mind-id" value="{{mind.id}}">
            <input type="hidden" id="_csrf" name="_csrf" value="{{_csrf}}">

            <dl class="row">

                <dt class="col-sm-3">URL Endpoint</dt>
                <dd class="col-sm-9">
                <code>https://api.collabr.ai/{{mind.mindurl}}</code>
                <textarea id="copy-text-area" class="copy-text-area">https://api.collabr.ai/{{mind.mindurl}}</textarea>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button id="copy-mind-url" class="btn btn-xs btn-w-xs btn-outline btn-info">Copy Url</button>
                </dd>
                {{!--
                    <div class="input-group">
                        <input type="text" class="form-control" readonly value="https://api.collabr.ai/{{mind.mindurl}}">
                        <span class="input-group-append">
                            <button class="btn btn-light" type="button"><i class="ti-email"></i>
                            </button>
                        </span>
                    </div>
                --}}

                <dt class="col-sm-3">Label</dt>
                <dd class="col-sm-9">{{mind.mindlabel}}</dd>

                <dt class="col-sm-3">Status</dt>
                <dd
                    id="mind-status-stopped"
                    class="col-sm-9"
                    style="{{#ifcond mind.mindstatus.Status '==' 'RUNNING'}}display:none;{{/ifcond }}"
                >
                    <abbr title="The Mind is Stopped!">Stopped</abbr>
                </dd>
                <dd
                    id="mind-status-running"
                    class="col-sm-9"
                    style="{{#ifcond mind.mindstatus.Status '==' 'STOPPED'}}display:none;{{/ifcond }}"
                >
                    <abbr title="The Mind is Currently Running">Running</abbr>
                </dd>


                <dt class="col-sm-3">Model</dt>
                <dd class="col-sm-9"><span> {{mind.userimage.imagefilename}}</span>{{!-- &nbsp;&nbsp;&nbsp;&nbsp; <button class="btn btn-xs btn-w-xs btn-outline btn-danger">Change</button>--}}</dd>

                <dt class="col-sm-3">Model Type</dt>
                <dd class="col-sm-9">
                    {{#ifcond mind.userimage.modeltype.ModelType '==' 'SKLEARN'}}
                    <abbr title="Sci-kit Learn Model">
                        Sci-kit Learn
                    </abbr>
                    {{/ifcond }}
                    {{#ifcond mind.userimage.modeltype.ModelType '==' 'SCIPY'}}
                    <abbr title="Sci-Py Model">
                        Sci-Py
                    </abbr>
                    {{/ifcond }}
                    {{#ifcond mind.userimage.modeltype.ModelType '==' 'TENSORFLOW'}}
                    <abbr title="TensorFlow Model">
                        TensorFlow
                    </abbr>
                    {{/ifcond }}
                    {{#ifcond mind.userimage.modeltype.ModelType '==' 'ONNX'}}
                    <abbr title="ONNX Model">
                        ONNX
                    </abbr>
                    {{/ifcond }}
                </dd>

                <dt class="col-sm-3">Mind Type</dt>
                <dd class="col-sm-9"><abbr title="{{mind.mindtype.MindType}} Mind">Standard</abbr></dd>

                <dt class="col-sm-3">Version</dt>
                <dd class="col-sm-9">{{mind.mindversion}}</dd>

                <dt class="col-sm-3">Model Age</dt>
                <dd class="col-sm-9">{{elapsedtime mind.modelcreatetime}}</dd>

                <dt class="col-sm-3">Uptime</dt>
                <dd class="col-sm-9">{{elapsedtime mind.modelstarttime}}</dd>

                <dt class="col-sm-3">Action</dt>
                <dd class="col-sm-9">
                    
                <button
                    id="start-mind-button"
                    class="btn btn-xs btn-w-xs btn-outline btn-success"
                    style="{{#ifcond mind.mindstatus.Status '==' 'RUNNING'}}display:none;{{/ifcond }}"
                >Start</button>

                <button
                    id="stop-mind-button"
                    class="btn btn-xs btn-w-xs btn-outline btn-danger"
                    style="{{#ifcond mind.mindstatus.Status '==' 'STOPPED'}}display:none;{{/ifcond }}"
                >Stop</button>
                </dd>

                <dt class="col-sm-6">
                    <button id="delete-mind-button"class="btn btn-xs btn-outline btn-danger">Delete Mind</button>
                </dt>
                <dd class="col-sm-6">
                    &nbsp;
                </dd>
                
            </dl>
        </div>
    </div>

    <div class="row col-12">
        <div class="card card-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs {{!-- nav-justified --}} nav-tabs-info">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#metrics-wide">Metrics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#input-schema-wide">Input Schema</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#output-schema-wide">Output Schema</a>
                </li>
                {{!-- <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#logs-wide">Logs</a>
                </li> --}}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade active show" id="metrics-wide">
                    <div class="row col-12">
                        {{!--
                        <div class="col-md-6 col-lg-4">
                        <div class="card card-body">
                            <div class="flexbox">
                            <h6 class="">No. of Executions</h6>
                            <h6><i class="ion-android-arrow-dropup text-success fs-18 mr-1"></i> 6,012</h6>
                            </div>

                            <ul class="flexbox flex-justified text-center my-40">
                            <li class="br-1 border-light">
                                <div class="fs-18">54,544</div>
                                <small>Last Month (avg.)</small>
                            </li>

                            <li class="br-1 border-light">
                                <div class="fs-18">57,925</div>
                                <small>Last Week (avg.)</small>
                            </li>

                            <li>
                                <div class="fs-18">62,873</div>
                                <small>Today</small>
                            </li>
                            </ul>

                            <div data-provide="sparkline" data-width="100%" data-height="80" data-line-color="#4bc0c0" data-fill-color="#00b1f2" data-min-spot-color="false" data-max-spot-color="false" data-highlight-spot-color="false" data-highlight-line-color="#fff">1,3,5,4,6,8,7,9,6,13,10,12,15,17</div>
                        </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                        <div class="card card-body">
                            <div class="flexbox">
                            <h6 class="">No. of Errors</h6>
                            <h6><i class="ion-android-arrow-dropdown text-success fs-18 mr-1"></i> 43</h6>
                            </div>

                            <ul class="flexbox flex-justified text-center my-40">
                            <li class="br-1 border-light">
                                <div class="fs-18">211</div>
                                <small>Last Month (avg.)</small>
                            </li>

                            <li class="br-1 border-light">
                                <div class="fs-18">182</div>
                                <small>Last Week (avg.)</small>
                            </li>

                            <li>
                                <div class="fs-18">65</div>
                                <small>Today</small>
                            </li>
                            </ul>

                            <div data-provide="sparkline" data-width="100%" data-height="80" data-line-color="#4bc0c0" data-fill-color="#f96868" data-min-spot-color="false" data-max-spot-color="false" data-highlight-spot-color="false" data-highlight-line-color="#fff">17,15,12,10,13,11,12,13,11,9,7,5,</div>
                        </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                        <div class="card card-body">
                            <div class="flexbox">
                            <h6 class="">Throughput (Exec. / s)</h6>
                            <h6><i class="ion-android-arrow-dropup text-success fs-18 mr-1"></i> 232</h6>
                            </div>

                            <ul class="flexbox flex-justified text-center my-40">
                            <li class="br-1 border-light">
                                <div class="fs-18">121</div>
                                <small>Last Month (avg.)</small>
                            </li>

                            <li class="br-1 border-light">
                                <div class="fs-18">267</div>
                                <small>Last Week (avg.)</small>
                            </li>

                            <li>
                                <div class="fs-18">499</div>
                                <small>Today</small>
                            </li>
                            </ul>

                            <div data-provide="sparkline" data-width="100%" data-height="80" data-line-color="#4bc0c0" data-fill-color="#4bc0c0" data-min-spot-color="false" data-max-spot-color="false" data-highlight-spot-color="false" data-highlight-line-color="#fff">1,3,5,4,6,8,7,8,6,7,8,11,10,14</div>
                        </div>
                        </div>
                        --}}

                        <div class="col-md-12 col-lg-6">
                        <div id="mind-metric-cpu-container" class="card card-body">
                            <div class="flexbox">
                            <h6 class="">CPU Utilization Per Exec.</h6>
                            <h6 id="mind-metric-cpu-overall"><i class="ion-android-arrow-dropdown text-success fs-18 mr-1"></i> % --</h6>
                            </div>

                            <ul class="flexbox flex-justified text-center my-40">
                            <li class="br-1 border-light">
                                <div id="mind-metric-cpu-all-time" class="fs-18">% --</div>
                                <small>All Time</small>
                            </li>

                            <li class="br-1 border-light">
                                <div id="mind-metric-cpu-last-month" class="fs-18">% --</div>
                                <small>Last Month</small>
                            </li>

                            <li>
                                <div id="mind-metric-cpu-today" class="fs-18">% --</div>
                                <small>Today</small>
                            </li>
                            </ul>

                            <div id="mind-metric-cpu-graph"
                                class="text-center"
                            >
                                <div style="margin-left: calc(50% - 25px);" class="spinner-circle-material"></div>
                                <br>
                                <b>Loading...</b>
                            </div>
                        </div>
                        </div>

                        <div class="col-md-12 col-lg-6">
                        <div id="mind-metric-memory-container" class="card card-body">
                            <div class="flexbox">
                            <h6 class="">Memory Consumption Per Exec.</h6>
                            <h6 id="mind-metric-memory-overall"><i class="ion-android-arrow-dropdown text-success fs-18 mr-1"></i> % --</h6>
                            </div>

                            <ul class="flexbox flex-justified text-center my-40">
                            <li class="br-1 border-light">
                                <div id="mind-metric-memory-all-time" class="fs-18">-- Mb</div>
                                <small>All Time</small>
                            </li>

                            <li class="br-1 border-light">
                                <div id="mind-metric-memory-last-month" class="fs-18">-- Mb</div>
                                <small>Last Month</small>
                            </li>

                            <li>
                                <div id="mind-metric-memory-today" class="fs-18">-- Mb</div>
                                <small>Today</small>
                            </li>
                            </ul>

                            <div id="mind-metric-memory-graph" 
                                class="text-center"
                            >
                                <div style="margin-left: calc(50% - 25px);" class="spinner-circle-material"></div>
                                <br>
                                <b>Loading...</b>
                            </div>
                        </div>
                        </div>

                        {{!--
                        <div class="col-md-6 col-lg-4">
                        <div class="card card-body">
                            <div class="flexbox">
                            <h6 class="">Latency (Avg. Exec Time)</h6>
                            <h6><i class="ion-android-arrow-dropdown text-success fs-18 mr-1"></i> %41</h6>
                            </div>

                            <ul class="flexbox flex-justified text-center my-40">
                            <li class="br-1 border-light">
                                <div class="fs-18">0.3s</div>
                                <small>All Time</small>
                            </li>

                            <li class="br-1 border-light">
                                <div class="fs-18">0.9s</div>
                                <small>Last Month</small>
                            </li>

                            <li>
                                <div class="fs-18">0.5s</div>
                                <small>Today</small>
                            </li>
                            </ul>

                            <div class="text-center" data-provide="sparkline" data-type="bar" data-height="80" data-bar-color="#faa64b">2,4,3,7,6,4,8,9,6,8,12,6,7,9,4,8,5,7,9,13,10,9,9,8</div>
                        </div>
                        </div>
                        --}}
                    </div>
                </div>
                <div class="tab-pane fade" id="input-schema-wide">
                    <pre style="white-space: pre-line">
                    // example request payload
                    {
                        {{#each mind.userinputschema.schemavalues}}
                        &nbsp;&nbsp;&nbsp;&nbsp;{{this.schemavalue}}: ...,
                        {{/each}}
                    }
                    </pre>
                </div>
                <div class="tab-pane fade" id="output-schema-wide">
                    <pre style="white-space: pre-line">
                    // example reponse payload
                    {
                        &nbsp;&nbsp;&nbsp;&nbsp;output: ...,
                    }
                    </pre>
                </div>
                {{!--
                <div class="tab-pane fade" id="logs-wide">
                    <div class="col-lg-9">
                        <div class="card">
                        <h5 class="card-title">Last 100 Log Messages</h5>
                        <div class="card-body">
                            <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Status</th>
                                    <th>Input</th>
                                    <th>Output</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each logMessage}}
                                <tr>
                                    <th scope="row">{{@index}}</th>
                                    <td>{{this.Date}}</td>
                                    <td>{{this.Time}}</td>
                                    <td>{{this.Status}}</td>
                                    <td>{{this.Input}}</td>
                                    <td>{{this.Output}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
                --}}
            </div>
        </div>
    </div>
</div>