<div class="row col-12">
    <form id="new-mind-form" data-toggle="validator" role="form" class="row col-12">
        <input type="hidden" id="_csrf" name="_csrf" value="{{_csrf}}">

        <div class="col-md-4">
            <div class="form-group">
                <label class="require" for="mind-label">Mind Label</label>
                <input type="text" class="form-control" id="mind-label" name="mind-label" value="" placeholder="e.g Inference Engine" pattern="^[a-zA-Z\d\s\-]+$" data-pattern-error="Only alphanumeric characters, spaces or '-'" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="require" for="mind-input-schema">Input Schema</label>
                <input type="text" class="form-control" id="mind-input-schema" name="mind-input-schema" value="" placeholder="e.g valueA, valueB, valueC" pattern="^[a-zA-Z,\s]+$" data-pattern-error="Only alphabet characters or commas" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="require" for="model-type">Model Type</label>
                <select class="form-control" id="model-type" name="model-type">
                    <option value="sklearn">scikit-learn</option>
                    <option value="pytorch">PyTorch</option>
                    <option value="tensorflow">TensorFlow</option>
                    <option value="onnx">ONNX</option>
                </select>
            </div>
        </div>

        <div class="col-md-12">
            <h6 class="mb-1">Select your Model</h6>
            <input id="model-file-input" type="file" data-show-remove="false" data-provide="dropify" data-filenotempty="">
            <div id="file-error-help" class="help-block with-errors"></div>
        </div>

        <div class="row col-12 mt-30">
            <div class="col-md-6">
                <button id="create-mind-button" class="btn btn-label btn-primary" type="submit">
                    <label><i class="ti-check"></i></label> Create Mind
                </button>
                <br>
                <small>Note: You Cannot Change Any of these values after Creation!</small>
            </div>
        </div>

    </form>

    <div class="row col-12 mt-30">
        <div class="col-12">
            <ul id="mind-progress-list" class="list-iconic"></ul>
        </div>
        <div id="create-mind-loading-bar" class="col-12" style="display:none;">
            <div class="spinner-linear">
                <div class="line"></div>
            </div>
        </div>
    </div>

</div>