<div class="row">
    <div class="row col-12">
        <div class="card card-body">
            <h6>
                <span class="float-right"><a class="btn btn-label btn-xl btn-primary" href="/minds/new"><label><i class="ti-plus"></i></label> Deploy a New Mind</a></span>
            </h6>
        </div>
    </div>
    <div class="row col-12">

        {{#each userMinds}}
            {{#ifcond this.mindstatus.Status '!=' 'DELETING'}}
                <div class="col-md-6 col-xl-3">
                    <div class="card card-body">
                        <h6>
                            <span class="text-uppercase">
                            {{#ifcond this.userimage.modeltype.ModelType '==' 'SKLEARN'}}
                                Sci-kit Learn
                            {{/ifcond }}
                            {{#ifcond this.userimage.modeltype.ModelType '==' 'SCIPY'}}
                                Sci-Py
                            {{/ifcond }}
                            {{#ifcond this.userimage.modeltype.ModelType '==' 'TENSORFLOW'}}
                                TensorFlow
                            {{/ifcond }}
                            {{#ifcond this.userimage.modeltype.ModelType '==' 'ONNX'}}
                                ONNX
                            {{/ifcond }}
                            </span>
                            <span class="float-right"><a class="btn btn-xs btn-primary" href="/minds/{{this.id}}">View</a></span>
                        </h6>
                        <br>
                        <p class="fs-28 fw-100">{{this.mindlabel}}</p>
                        <div class="flexbox text-gray fs-12">
                            {{#ifcond this.mindtype.MindType '==' 'STANDARD'}}
                                <span>Standard Mind</span>
                            {{/ifcond }}
                            {{#ifcond this.mindstatus.Status '==' 'STOPPED'}}
                                <span><i class="ti-control-stop text-danger mr-1"></i> Stopped</span>
                            {{/ifcond }}
                            {{#ifcond this.mindstatus.Status '==' 'RUNNING'}}
                                <span><i class="ti-arrow-up text-success mr-1"></i> Running</span>
                            {{/ifcond }}
                        </div>
                    </div>
                </div>
            {{/ifcond}}
        {{/each}}

    </div>
</div>