<div class="col-12">
<form class="card" id="billing-form" data-toggle="validator" role="form" class="card">
    <input type="hidden" id="_csrf" name="_csrf" value="{{_csrf}}">
    <div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-light fw-400">Billing Address</h5>
            <br>

            <div class="form-group">
                <label class="text-fader">Address line 1</label>
                <input id="billing-address-1" name="billing-address-2" class="form-control" type="text" required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <label class="text-fader">Address line 2</label>
                <input  id="billing-address-2" name="billing-address-2"class="form-control" type="text">
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div class="col-md-6">
            <h5 class="text-light fw-400">&nbsp;</h5>
            <br>

            <div class="row">

                <div class="form-group col-md-6">
                <label class="text-fader">State/Province</label>
                <select class="form-control" title="&#xA0;" id="billing-state" name="billing-state" data-provide="selectpicker" required>
                    <option>California</option>
                    <option>New Mexico</option>
                    <option>Nevada</option>
                    <option>New York</option>
                </select>
                <div class="help-block with-errors"></div>
                </div>

                <div class="form-group col-md-6">
                <label class="text-fader">Country</label>
                <select class="form-control" title="&#xA0;" id="billing-country" name="billing-country" data-provide="selectpicker" required>
                    <option>United States</option>
                    <option>Canada</option>
                    <option>Mexico</option>
                    <option>United Kingdom</option>
                </select>
                <div class="help-block with-errors"></div>
                </div>

                <div class="form-group col-md-6">
                <label class="text-fader">Zip/Postal</label>
                <input id="billing-postal" name="billing-postal" class="form-control" type="text">
                <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h5 class="text-light fw-400">Payment Information</h5>
            <br>

            {{!-- 
            <h6>Choose your payment method</h6>
            <br>
            <div class="flexbox">
                <div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="payment-2">
                    <label class="custom-control-label"><strong>PayPal</strong></label>
                </div>
                <p class="small lh-14 mt-4 ml-24">Safe online payment service. Credit Card needed but PayPal account is not necessary.</p>
                </div>
                <div>
                <img src="/assets/img/icon/paypal.png" alt="...">
                </div>
            </div>

            <br>

            <div class="flexbox">
                <div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="payment-2" checked>
                    <label class="custom-control-label"><strong>Credit Card</strong></label>
                </div>
                <p class="small lh-14 mt-4 ml-24">Transfer money from your bank account safley. Visa, Master Card, and Discover are accepted.</p>
                </div>
                <div>
                <img src="/assets/img/icon/cards.jpg" alt="...">
                </div>
            </div>

            <hr>
            --}}

            <div class="form-group">
                <label class="text-fader fs-11">Credit Card Number</label>
                <input id="billing-credit-card-number" name="billing-credit-card-nubmer" class="form-control" type="text" required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="row">
                <div class="form-group col-lg-6">
                <label class="text-fader fs-11">Expiry Date</label>
                <div class="row">
                    <div class="col-6">
                    <select class="form-control" title="Month" id="billing-credit-card-month" name="billing-credit-card-month" data-provide="selectpicker" data-size="10" required>
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                        <option>06</option>
                        <option>07</option>
                        <option>08</option>
                        <option>09</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                    <div class="help-block with-errors"></div>
                    </div>

                    <div class="col-6">
                    <select class="form-control" title="Year" id="billing-credit-card-year" name="billing-credit-card-year" data-provide="selectpicker" required>
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                        <div class="help-block with-errors"></div>
                    </select>
                    </div>
                </div>
                </div>

                <div class="form-group col-lg-6">
                <label class="text-fader fs-11">CVV Code</label>
                <input id="billing-credit-card-ccv" name="billing-credit-card-ccv" class="form-control" type="text" required>
                <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="text-fader fs-11">Name on card</label>
                <input id="billing-credit-card-fullname" name="billing-credit-card-fullname" class="form-control" type="text" required>
                <div class="help-block with-errors"></div>
            </div>

            <br>
                <h5 class="text-light fw-400">&nbsp;</h5>
            <br>

            <button class="btn btn-block btn-primary" type="submit">Save Changes</button>
        </div>
    </div>

    </div>

</form>
</div>