<div class="col-12">
<input type="hidden" id="_csrf" name="_csrf" value="{{_csrf}}">
<form class="card" id="change-user-info-form" data-toggle="validator" role="form" class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-light fw-400">User Information</h5>
                <br>

                <div class="form-group">
                    <label class="text-fader">Full name</label>
                    <input class="form-control" type="text" value="{{user.name}}">
                </div>

                <div class="form-group">
                    <label class="text-fader">Email</label>
                    <input class="form-control" type="email" value="{{user.email}}" readonly>
                </div>

                <br>
                    <h5 class="text-light fw-400">&nbsp;</h5>
                <br>

                <button class="btn btn-block btn-primary" type="submit">Save Changes</button>
            </div>
        </div>
    </div>
</form>
</div>

<div class="col-12">
    <form id="change-password-form" data-toggle="validator" role="form" class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="text-light fw-400">Change Password</h5>
                    <br>

                    <div class="form-group">
                        <label class="text-fader">Old password</label>
                        <input name="oldpassword" id="oldpassword" class="form-control" type="password" required>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label class="text-fader">New password</label>
                        <input name="newpassword" id="newpassword" class="form-control" type="password" required>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label class="text-fader">Confirm new password</label>
                        <input name="confnewpassword" id="confnewpassword" class="form-control" type="password" required>
                        <div class="help-block with-errors"></div>
                    </div>

                    <br>
                        <h5 class="text-light fw-400">&nbsp;</h5>
                    <br>

                    <button class="btn btn-block btn-primary" type="submit">Change Password</button>

                    {{#if loginErrors}}
                        {{#each loginErrors}}
                            <div class="with-errors">{{this}}</div>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
    </form>
</div>