<div class="row">
    <div class="col-12">
        <div class="divider fs-16">Recently Deployed Minds</div>
        {{#ifcond userMinds.length '==' 0}}
            <div class="divider fs-16">
                You Have No Recently Deployed Minds
            </div>
        {{/ifcond}}
    </div>

    <div class="row col-12">
        {{#ifcond userMinds.length '==' 0}}
            <div class="card card-body">
                <div class="flexbox">
                    <span>&nbsp;</span>
                    <span class="">
                        <a class="btn btn-label btn-xl btn-primary" href="/minds/new"><label><i class="ti-plus"></i></label> Deploy a New Mind</a>
                    </span>
                    <span>&nbsp;</span>
                </div>
            </div>
        {{/ifcond}}

        {{#each userMinds}}
            {{#ifcond this.mindstatus.Status '!=' 'DELETING'}}
                <div class="col-md-6 col-xl-3">
                    <div class="card card-body">
                        <h6>
                            <span class="text-uppercase">
                            {{#ifcond this.userimage.modeltype.ModelType '==' 'SKLEARN'}}
                                Sci-kit Learn
                            {{/ifcond }}
                            {{#ifcond this.userimage.modeltype.ModelType '==' 'SCIPY'}}
                                Sci-Py
                            {{/ifcond }}
                            {{#ifcond this.userimage.modeltype.ModelType '==' 'TENSORFLOW'}}
                                TensorFlow
                            {{/ifcond }}
                            {{#ifcond this.userimage.modeltype.ModelType '==' 'ONNX'}}
                                ONNX
                            {{/ifcond }}
                            </span>
                            <span class="float-right"><a class="btn btn-xs btn-primary" href="/minds/{{this.id}}">View</a></span>
                        </h6>
                        <br>
                        <p class="fs-28 fw-100">{{this.mindlabel}}</p>
                        <div class="flexbox text-gray fs-12">
                            {{#ifcond this.mindtype.MindType '==' 'STANDARD'}}
                                <span>Standard Mind</span>
                            {{/ifcond }}
                            {{#ifcond this.mindstatus.Status '==' 'STOPPED'}}
                                <span><i class="ti-control-stop text-danger mr-1"></i> Stopped</span>
                            {{/ifcond }}
                            {{#ifcond this.mindstatus.Status '==' 'RUNNING'}}
                                <span><i class="ti-arrow-up text-success mr-1"></i> Running</span>
                            {{/ifcond }}
                        </div>
                    </div>
                </div>
            {{/ifcond}}
        {{/each}}
    </div>

    {{#ifcond userMinds.length '!=' 0}}
    <div class="row col-12">
        <div class="col-md-3">
            <div class="text-center bt-1 border-light p-2">
                <a class="text-uppercase d-block fs-10 fw-500 ls-1" href="/minds">See More</a>
            </div>
        </div>
    </div>
    {{/ifcond}}

</div>

{{!--
Don't show metrics for now, future feature
<div class="row">
    <div class="col-12">
        <div class="divider fs-16">Mind Metrics</div>
    </div>

    <div class="row col-12">
        <div class="col-md-6 col-lg-4">
        <div class="card card-body">
            <div class="flexbox">
            <h6 class="">No. of Executions</h6>
            <h6><i class="ion-android-arrow-dropup text-success fs-18 mr-1"></i> 6,012</h6>
            </div>

            <ul class="flexbox flex-justified text-center my-40">
            <li class="br-1 border-light">
                <div class="fs-18">54,544</div>
                <small>Last Month (avg.)</small>
            </li>

            <li class="br-1 border-light">
                <div class="fs-18">57,925</div>
                <small>Last Week (avg.)</small>
            </li>

            <li>
                <div class="fs-18">62,873</div>
                <small>Today</small>
            </li>
            </ul>

            <div data-provide="sparkline" data-width="100%" data-height="80" data-line-color="#4bc0c0" data-fill-color="#00b1f2" data-min-spot-color="false" data-max-spot-color="false" data-highlight-spot-color="false" data-highlight-line-color="#fff">1,3,5,4,6,8,7,9,6,13,10,12,15,17</div>
        </div>
        </div>

        <div class="col-md-6 col-lg-4">
        <div class="card card-body">
            <div class="flexbox">
            <h6 class="">CPU Utilization Per Exec.</h6>
            <h6><i class="ion-android-arrow-dropdown text-success fs-18 mr-1"></i> %41</h6>
            </div>

            <ul class="flexbox flex-justified text-center my-40">
            <li class="br-1 border-light">
                <div class="fs-18">%11.58</div>
                <small>All Time</small>
            </li>

            <li class="br-1 border-light">
                <div class="fs-18">%5.12</div>
                <small>Last Month</small>
            </li>

            <li>
                <div class="fs-18">%2.66</div>
                <small>Today</small>
            </li>
            </ul>

            <div class="text-center" data-provide="sparkline" data-type="bar" data-height="80" data-bar-color="#ff9f40">2,4,3,7,6,4,8,9,6,8,12,6,7,9,4,8,5,7,9,13,10,9,9,8</div>
        </div>
        </div>

        <div class="col-md-6 col-lg-4">
        <div class="card card-body">
            <div class="flexbox">
            <h6 class="">Throughput (Exec. / s)</h6>
            <h6><i class="ion-android-arrow-dropup text-success fs-18 mr-1"></i> 232</h6>
            </div>

            <ul class="flexbox flex-justified text-center my-40">
            <li class="br-1 border-light">
                <div class="fs-18">121</div>
                <small>Last Month (avg.)</small>
            </li>

            <li class="br-1 border-light">
                <div class="fs-18">267</div>
                <small>Last Week (avg.)</small>
            </li>

            <li>
                <div class="fs-18">499</div>
                <small>Today</small>
            </li>
            </ul>

            <div data-provide="sparkline" data-width="100%" data-height="80" data-line-color="#4bc0c0" data-fill-color="#4bc0c0" data-min-spot-color="false" data-max-spot-color="false" data-highlight-spot-color="false" data-highlight-line-color="#fff">1,3,5,4,6,8,7,8,6,7,8,11,10,14</div>
        </div>
        </div>
    </div>

    <div class="row col-12">
        <div class="col-md-3">
            <div class="text-center bt-1 border-light p-2">
                <a class="text-uppercase d-block fs-10 fw-500 ls-1" href="#">See More</a>
            </div>
        </div>
    </div>
</div>
--}}

{{!--
<div class="row">
    <div class="col-12">
        <div class="divider fs-16">Mind Events</div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"><strong>Recent Events</strong></h5>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                    <th>ID</th>
                    <th>Plan</th>
                    <th>User</th>
                    <th>Price</th>
                    <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>1</td>
                    <td>Individual</td>
                    <td><a class="hover-primary" href="#">Ranian</a></td>
                    <td>$9</td>
                    <td>25 July</td>
                    </tr>
                    <tr>
                    <td>2</td>
                    <td>Individual</td>
                    <td><a class="hover-primary" href="#">Makein</a></td>
                    <td>$9</td>
                    <td>21 July</td>
                    </tr>
                    <tr>
                    <td>3</td>
                    <td>Business</td>
                    <td><a class="hover-primary" href="#">Suhan</a></td>
                    <td>$19</td>
                    <td>16 July</td>
                    </tr>
                    <tr>
                    <td>4</td>
                    <td>Individual</td>
                    <td><a class="hover-primary" href="#">Inamu</a></td>
                    <td>$9</td>
                    <td>12 June</td>
                    </tr>
                    <tr>
                    <td>5</td>
                    <td>Enterprise</td>
                    <td><a class="hover-primary" href="#">Finak</a></td>
                    <td>$49</td>
                    <td>09 Jan</td>
                    </tr>
                    <tr>
                    <td>6</td>
                    <td>Business</td>
                    <td><a class="hover-primary" href="#">Kurady</a></td>
                    <td>$19</td>
                    <td>20 Dec 2015</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-3">
            <div class="text-center bt-1 border-light p-2">
                <a class="text-uppercase d-block fs-10 fw-500 ls-1" href="#">See More</a>
            </div>
        </div>
    </div>
</div>
--}}